.footer {
  margin: 0;
  min-width: 880px;
  margin-top: 67px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    min-width: 518px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    min-width: 282px;
    padding-bottom: 36px;
    margin-top: 50px;
  }
}