.element {
  margin: 0;
  background-color: white;
  max-width: 282px;
  display: grid;
  grid-row: 282px auto;
  grid-template-areas: "photo"
  "info-card";
  border-radius: 10px;
  min-height: 361px;
  list-style-type: none;
  padding: 0;
  transition: .2s;
}

.element:hover {
  transform: scale(1.05);
}