.auth__input {
  border: none;
  border-bottom: 1px rgb(204, 204, 204) solid;
  grid-area: inputs;
  outline: none;
  background-color: transparent;
  cursor: text;
  font-family: 'Inter', Courier, monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  padding: 0;
  margin: 14px 0;
  height: 27px;
  width: 100%;
  color: white;
}

.auth__input:last-of-type {
  margin-bottom: 150px;
}