.header {
  margin: 0;
  padding-top: 45px;
  min-width: 880px;
  border-bottom: 1px rgba(84, 84, 84, .7) solid;
  padding-bottom: 41px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    min-width: 518px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    min-width: 100vw;
    padding-top: 28px;
    padding-bottom: 25px;
  }
}